<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StoredProcedures</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListProduct</display-name>
    <servlet-name>ListProduct</servlet-name>
    <servlet-class>ListProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProduct</servlet-name>
    <url-pattern>/ListProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoredServlet</display-name>
    <servlet-name>StoredServlet</servlet-name>
    <servlet-class>StoredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoredServlet</servlet-name>
    <url-pattern>/StoredServlet</url-pattern>
  </servlet-mapping>
</web-app>